{% extends "base_template.html" %}

{% block title %}
    <title>Django - Exercícios</title>
{% endblock  %}

{% block menu %}
 <!-- menu -->
 <div class="collapse navbar-collapse justify-content-end" id="mynavbar">
    <div class="navbar-nav">
        <a href="/" class="nav-link">Início</a>
        <a href="{% url 'turma:cadastro' %}" class="nav-link">Cadastrar</a>
        <a href="{% url 'turma:listar' %}" class="nav-link">Listar</a>
        <a href="{% url 'turma:ausencia' %}" class="nav-link">Registrar Ausência</a>
    </div>
</div>
{% endblock %}

{% block corpo %}
    <main class="container m-2 mx-auto my-font-family">

        <div class="row">
            <div class="col text-center m-0">
                <h2 class="mt-2 mb-5 my-h2">Lista de Turmas</h2>
            </div>
        </div>

        {% if turmas %}
        <!-- tabela responsiva -->
        <div class="table-responsive">

            <!-- classes para tabela (Bootstrap) , tabela sem borda, conteudo alinhado ao centro, ... , width: auto -->
            <table class="table
                        table-borderless
                        text-center
                        my-table-hover
                        my-table-image
                        my-table-td-first-child
                        my-table-border-bottom
                        my-table-th
                        w-100">

                <!-- cabecalho -->
                <thead>
                    <!-- linhas -->
                    <tr>
                        <!-- colunas cabecalho -->
                        <th>Número</th>
                        <th>Horário da Aula</th>
                        <th>Duração da Aula</th>
                        <th>Data Inicial</th>
                        <th>Data Final</th>
                        <th>Atividade</th>
                        <th>Instrutor</th>
                        <th>Titularidade</th>
                        <th>Monitor</th>
                    </tr>
                </thead>

                <!-- linhas -->
                <tbody>
                
                {% for t in turmas %}

                    <tr>
                        <td class="text-center"> {{ t.numero }} </td>
                        <td> {{ t.horario_aula }} </td>
                        <td> {{ t.duracao_aula }} min </td>
                        <td> {{ t.data_inicial|date:"d/m/Y" }} </td>
                        <td> 
                            {% if t.data_final %} 
                                {{ t.data_final|date:"d/m/Y" }} 
                            {% else %} 
                                <i class="fas fa-minus"></i> 
                            {% endif %}
                        </td>
                        <td class="text-left"> {{ t.codigo_atividade.descricao }} </td>
                        <td class="text-left"> {{ t.id_instrutor.nome }}
                        <td class="text-left"> {{ t.id_instrutor.codigo_titulo.descricao }} </td>
                        {% if t.matricula_monitor.nome %}
                            <td class="text-left">{{ t.matricula_monitor.nome }}</td>
                        {% else %} 
                            <td class="text-center"><i class="fas fa-minus"></i></td>
                        {% endif %}
                    </tr>
                
                {% endfor %}

                </tbody>
            </table>

        </div>

    {% else %}

        <div class="text-danger">
            <p>Não há turmas cadastradas.</p>
        </div>

    {% endif %}

</main>

{% endblock %}