{% extends "base_template.html" %}

{% block title %}
    <title>Django - Exercícios</title>
{% endblock  %}

{% block menu %}
<div class="collapse navbar-collapse justify-content-end" id="mynavbar">
    <div class="navbar-nav">
        <a href="/" class="nav-link">Início</a>
        <a href="{% url 'instrutor:cadastro' %}" class="nav-link">Cadastrar</a>
        <a href="{% url 'instrutor:listar' %}" class="nav-link">Listar</a>
    </div>
</div>
{% endblock %}

{% block corpo %}
<!-- main -->
<main class="container m-2 w-75 mx-auto my-font-family">

    <div class="row">
        <div class="col text-center m-0">
            <h2 class="mt-2 mb-5 my-h2">Atualização de Instrutor</h2>
        </div>
    </div>

    <!-- formulario HTML -->
    <form name="InstrutorAtualizarForm" action="{% url 'instrutor:atualizar_instrutor' %}" method="post" class="my-label-color-purple">
        {% csrf_token %}

        <div class="form-group">
            <label for="idInstrutor" class="col-form-label">Id</label>
            <input class="form-control" type="text" id="idInstrutor" name="id" value="{{ instrutor.id }}" readonly>  
        </div>

        <div class="form-group">
            <label for="idNomeInstrutor" class="col-form-label">Nome do Instrutor</label>
            <input class="form-control" type="text" id="idNomeInstrutor" name="nome" maxlength="70" value="{{ instrutor.nome }}" required>
        </div>

        <div class="form-group">
            <label for='idRg'>RG</label>
            <input class="form-control" type='text' id='idRg' name='rg' maxlength="45" value="{{ instrutor.rg }}" required>
        </div>

        <div class="form-group">
            <label for='idDataNascimento'>Data de Nascimento</label>
            <input class="form-control" type="date" id="idDataNascimento" name="data_Nascimento" value="{{ instrutor.data_Nascimento|date:"Y-m-d" }}" required>
        </div>

        <div class="form-group row">
            <div class="col-sm-6">
                <label for='idDdd'>DDD</label>
                <input class="form-control" type='ddd' id='idDdd' name='ddd' maxlength="3" value="{{ instrutor.ddd }}" required>
            </div>
            <div class="col-sm-6">
                <label for='idTelefone'>Telefone</label>
                <input class="form-control" type='text' id='idTelefone' name='telefone' maxlength="9" value="{{ instrutor.telefone }}" required>
            </div>
        </div>

        <div class="form-group">
            <label for="idTitulo">Título do Professor</label>
            <select class="form-control" id="idTitulo" name="codigo_titulo">
                <option value="0">Selecione...</option>
                {% for t in titulos %}
                    {% if t.codigo == instrutor.codigo_titulo.codigo %}
                        <option value="{{ t.codigo }}" selected>{{ t.descricao }}</option>
                    {% else %}
                        <option value="{{ t.codigo }}">{{ t.descricao }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>        
        
        <div class="form-group my-4 text-center">
            <input type="reset" value="Limpar" class="btn btn-primary btn-md">
            <input type="submit" value="Atualizar" class="btn btn-primary btn-md">
        </div>

    </form>

</main>

{% endblock %}